<div class="container">
    <ng-container *ngFor="let post of rows | async">
        <h1>{{post.title}}</h1>
        <small>{{post.text}}</small>
    </ng-container>
</div>
<div class="container">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#manageBlogPosts"
        aria-expanded="false" aria-controls="manageBlogPosts">
        Manage blog posts
    </button>
    <div class="collapse" id="manageBlogPosts">
        <div class="card card-body">
            <app-crud [entityName]="entityName" [columnDefs]="columnDefs"></app-crud>
        </div>
    </div>

</div>