<h1>{{entityName}}</h1>

<p *ngIf="!row"><em>Loading...</em></p>
<button *ngIf="mode=='read'" (click)="editActivate()">Edit</button>

<button *ngIf="mode=='edit'" (click)="save()">Save</button>
<button *ngIf="mode=='create'" (click)="create()">Create</button>
<button *ngIf="mode=='edit'" (click)="editDeactivate()">Cancel</button>
<button *ngIf="mode=='edit'" (click)="delete()">Delete</button>

<table class='table table-striped' *ngIf="row">
  <thead>
    <tr>
      <ng-container *ngFor="let columnDef of columnDefs">
        <th *ngIf="!columnDef.hideInForm">{{columnDef.headerName}}</th>
      </ng-container>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <ng-container *ngFor="let columnDef of columnDefs">
        <td *ngIf="mode=='read' && !columnDef.hideInForm">{{ row[columnDef.field] }}</td>
        <td *ngIf="mode!='read' && !columnDef.hideInForm"><input required [(ngModel)]="row[columnDef.field]" name="row[columnDef.field]"></td>
      </ng-container>
    </tr>
  </tbody>
</table>

<div *ngIf="mode=='read' && showHistory">
  <h1>History</h1>
  <p *ngIf="!history"><em>Loading...</em></p>
  <ag-grid-angular style="width: 500px; height: 500px;" class="ag-theme-balham" [rowData]="history | async"
    [columnDefs]="historyColumnDefs">
  </ag-grid-angular>
</div>