<h1>MRU</h1>

<p *ngIf="!objects"><em>Loading...</em></p>

<ul>
    <li *ngFor="let object of objects">
        <a [routerLink]='[object.routeUrl]'>{{object.entityDisplayName}}</a>
        <small>{{object.events[0].entityName}}</small><small>{{object.events[0].createdDate}}</small>
    </li>
</ul>
<!-- <table class='table table-striped' *ngIf="objects">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let object of objects">
            <td>{{ object.entityId }}</td>
            <td>{{ object.entityName }}</td>
        </tr>
    </tbody>
</table> -->