<h1>Hello!</h1>
<p>Welcome to my demo single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
      href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>This demo is a simple web app to manage items you have at home and with who you have shared them. It is also do
  show you how to integrate entities managed by the <a href="https://www.github.com/lonesomegeek/LSG.GenericCrud"
    target="_blank">LSG.GenericCrud</a> with a frontend application. This
  sample include these entities:</p>

<table>
  <thead>
    <tr>
      <td>Type</td>
      <td>Controller type</td>
      <td>Implementation type</td>
      <td>DTO</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contact</td>
      <td>CrudController</td>
      <td>Implemented</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Item</td>
      <td>CrudController</td>
      <td>Implemented</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Share</td>
      <td>HistoricalCrudController</td>
      <td>CustomService</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Contributor</td>
      <td>CrudController</td>
      <td>Inherited</td>
      <td>No</td>
    </tr>
    <tr>
      <td>User</td>
      <td>HistoricalCrudController</td>
      <td>Inherited</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>BlogPost</td>
      <td>HistoricalCrudController</td>
      <td>Implemented</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Hook</td>
      <td>CrudController</td>
      <td>Inherited</td>
      <td>No</td>
    </tr>
  </tbody>
</table>

<app-blob-post></app-blob-post>